<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="secondary">
    
        <ion-button><ion-icon name="contact"></ion-icon>&nbsp;{{loggedUser.nome}}</ion-button>

      </ion-buttons>
      <ion-title>CARTEIRA: {{loggedUser.saldo}} AR$</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list approxItemHeight="170px">
        <ion-item detail button>
          <ion-thumbnail slot="start">
            <ion-img src="'https://picsum.photos/500/200'"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>
               Titulo
            </h2>
            <p>
              Description
            </p>
            <div class="details">
              <ion-icon name="calendar" color="tertiary"></ion-icon>
              <ion-text color="primary" class="space-left">13/12/1990</ion-text>
              <span horizontal class="space-left">to</span>
              <ion-icon name="calendar" color="tertiary"></ion-icon>
              <ion-text color="primary" class="space-left">13/12/1990</ion-text>
            </div>
          </ion-label>
        </ion-item>
        <ion-item detail button>
            <ion-thumbnail slot="start">
              <ion-img src="'https://picsum.photos/500/200'"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>
                 Titulo
              </h2>
              <p>
                Description
              </p>
              <div class="details">
                <ion-icon name="calendar" color="tertiary"></ion-icon>
                <ion-text color="primary" class="space-left">13/12/1990</ion-text>
                <span horizontal class="space-left">to</span>
                <ion-icon name="calendar" color="tertiary"></ion-icon>
                <ion-text color="primary" class="space-left">13/12/1990</ion-text>
              </div>
            </ion-label>
          </ion-item>
          <ion-item detail button>
              <ion-thumbnail slot="start">
                <ion-img src="'https://picsum.photos/500/200'"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>
                   Titulo
                </h2>
                <p>
                  Description
                </p>
                <div class="details">
                  <ion-icon name="calendar" color="tertiary"></ion-icon>
                  <ion-text color="primary" class="space-left">13/12/1990</ion-text>
                  <span horizontal class="space-left">to</span>
                  <ion-icon name="calendar" color="tertiary"></ion-icon>
                  <ion-text color="primary" class="space-left">13/12/1990</ion-text>
                </div>
              </ion-label>
            </ion-item>
            <ion-item detail button>
                <ion-thumbnail slot="start">
                  <ion-img src="'https://picsum.photos/500/200'"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>
                     Titulo
                  </h2>
                  <p>
                    Description
                  </p>
                  <div class="details">
                    <ion-icon name="calendar" color="tertiary"></ion-icon>
                    <ion-text color="primary" class="space-left">13/12/1990</ion-text>
                    <span horizontal class="space-left">to</span>
                    <ion-icon name="calendar" color="tertiary"></ion-icon>
                    <ion-text color="primary" class="space-left">13/12/1990</ion-text>
                  </div>
                </ion-label>
              </ion-item>
    </ion-list>
</ion-content>
